# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Database
*.db

# Reports
reports/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
# ML models
model/*.pkl
model/*.joblib

# virtual env
.venv/

# python cache
__pycache__/
*.pyc

# database
app.db
