/* ---------- base ---------- */
body {
    font-family: Arial, sans-serif;
    background: #f7f9fc;
    margin: 0;
}

nav {
    background: #2d6cdf;
    color: white;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
}
.hero {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 1.1rem;
    color: #d0d0d0;
    margin-top: 8px;
    font-weight: 300;
}


nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
}

.card, .result-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

button {
    background: #2d6cdf;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 12px;
}

button:hover {
    background: #1e4eb8;
}

select {
    width: 100%;
    height: 130px;
    padding: 8px;
}

.auth-container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.loader {
    display: none;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

table {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}
